In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('car.data', sep=',', names=['buying','maint','doors','persons','lug_boot','safety','class'], index_col=False)

#Drop person field as it's not needed for the analysis
df = df.drop(columns='persons')
df.head()

  buying  maint doors lug_boot safety  class
0  vhigh  vhigh     2    small    low  unacc
1  vhigh  vhigh     2    small    med  unacc
2  vhigh  vhigh     2    small   high  unacc
3  vhigh  vhigh     2      med    low  unacc
4  vhigh  vhigh     2      med    med  unacc

# Descriptive Analysis

In [3]:
df.shape

(1728, 6)

In [4]:
df.describe()

       buying  maint doors lug_boot safety  class
count    1728   1728  1728     1728   1728   1728
unique      4      4     4        3      3      4
top     vhigh  vhigh     2    small    low  unacc
freq      432    432   432      576    576   1210

In [5]:
df.dtypes

buying      object
maint       object
doors       object
lug_boot    object
safety      object
class       object
dtype: object

# Multiple Linear Regression

In [6]:
X = df[['maint', 'doors', 'lug_boot', 'safety', 'class']]
X = pd.get_dummies(data=X, drop_first=True)
X.head()

,maint_low,maint_med,maint_vhigh,doors_3,doors_4,doors_5more,lug_boot_med,lug_boot_small,safety_low,safety_med,class_good,class_unacc,class_vgood
0,0,0,1,0,0,0,0,1,1,0,0,1,0
1,0,0,1,0,0,0,0,1,0,1,0,1,0
2,0,0,1,0,0,0,0,1,0,0,0,1,0
3,0,0,1,0,0,0,1,0,1,0,0,1,0
4,0,0,1,0,0,0,1,0,0,1,0,1,0

In [7]:
y = df['buying']
y = pd.get_dummies(data=y, drop_first=True)
y.head()

   low  med  vhigh
0    0    0      1
1    0    0      1
2    0    0      1
3    0    0      1
4    0    0      1

Create train and test datasets

In [8]:
model = LinearRegression()
model.fit(X, y)

LinearRegression()

In [9]:
print(model.intercept_)

[0.23110089 0.2917526  0.19384845]

In [10]:
#coeff_parameter = pd.DataFrame(model.coef_,X.columns,columns=['Coefficient'])
#coeff_parameter

In [11]:
#Predict the buying price given the following parameters:
params = [['high', '4', 'big', 'high', 'good']]
predict = pd.DataFrame(params, columns=['maint', 'doors', 'lug_boot', 'safety', 'class'])

In [12]:
#Calculate buying price based on the regression equation